{% if ansible_local | d() and ansible_local.ulogd | d() and
       ansible_local.ulogd.dependent_plugins | d()                            %}
{%   if ulogd__dependent_plugins | d()                                        %}
{%     set ulogd__tpl_plugins = ulogd__dependent_plugins
        + ansible_local.ulogd.dependent_plugins | sort | unique               %}
{%   else                                                                     %}
{%     set ulogd__tpl_plugins = ansible_local.ulogd.dependent_plugins | sort  %}
{%   endif                                                                    %}
{% endif                                                                      %}

{{ ({
        "enabled": "{{ ulogd__enabled | bool | lower }}",
        "dependent_plugins": "{{ ulogd__tpl_plugins }}",
        "dependent_fullpath_plugins": "{{ ulogd__dependent_plugins }}",
        "dependent_stacks": "{{ ulogd__dependent_stacks }}"
}) | to_nice_json }}
